<div class="container2">
  <h2 class="class-h">My Recipients</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col2 col-1">Name</div>
      <div class="col2 col-2">Phone</div>
      <div class="col col-3"></div>
      <div class="col col-4"></div>
    </li>
    <% @recipients.each do |recipient| %>
    <li class="table-row">
      <div class="col2 col-1" data-label="Job Id"><%= recipient.name %></div>
      <div class="col2 col-2" data-label="Customer Name"><%= recipient.phone %></div>
      <div class="col2 col-3" data-label="Amount"><%= link_to "View", recipient %></div>
      <div class="col2 col-4" data-label="Payment Status"><%= link_to "Edit", edit_recipient_path(recipient) %></div>
      <div class="col2 col-4" data-label="Payment Status"><%= link_to "Delete", recipient, method: :delete, data: { confirm: "Are you sure?" } %></div>
    </li>
  <% end %>
  <%= link_to "New Recipient", new_recipient_path %>
  </ul>

</div>
