<%= simple_form_for @event, html: { multipart: true } do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
      <%= pluralize(@event.errors.count, "error") %>
      prohibited this article from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control'} %>
  </div>
  <div>
    <%= f.input :send_date, as: :date, html5: true %>
  </div>

  <div class="form-group">
    <label> Message </label>
    <%= f.file_field :message %>
    <div class="pad"></div>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
