<div class="text-center" id="container">
  <%if user_signed_in?%>
    <%= image_tag("phone.png", :alt => "girl on phone", width: "1000", height: "1000", class: "center-block") %>
  <% else %>
    <%= image_tag("family.png", :alt => "family", width: "600", height: "400", class: "center-block") %>
    <h3>SHARE A MESSAGE, SEND A GIFT</h3>
      <h1>Support your loved one's with a message. Be their pillar of support in times of adversity.</h1>
    <%= image_tag("cell.png", :alt => "family", width: "400", height: "600", class: "center-block") %>
      <h3>SHARE A TEXT MESSAGE</h3>
    <h1>Support your loved one's with a message. Be their pillar of support in times of adversity.</h1>
    <%= image_tag("phone.png", :alt => "girl on phone", width: "600", height: "400", class: "center-block") %>
    <h3>SHARE A VOICE MESSAGE</h3>
    <h1>Support your loved one's with a message. Be their pillar of support in times of adversity.</h1>
    <%= image_tag("family.png", :alt => "family", width: "600", height: "400", class: "center-block") %>
    <h3>SHARE A VIDEO MESSAGE</h3>
    <h1>Support your loved one's with a message. Be their pillar of support in times of adversity.</h1>
    <%= image_tag("timeline.png", :alt => "family", width: "600", height: "400", class: "center-block") %>
    <h3>view your messages on your timeline</h3>
    <h1>Support your loved one's with a message. Be their pillar of support in tim</h1>
    <p>COPYRIGHT © 2019 BTG INC. </p>
  <% end %>

  <% @events.each do |event| %>
    <h2>
      <%= link_to event.title, event  %>
    </h2>
  <% end %>
</div>
