<h1>
  <%= @event.title %>
</h1>
<p>
  <%= @event.description %>
</p>
<% if @event.message.attached? %>
  <p>
    <strong>Message:</strong>
    <br>
    <%= image_tag @event.message %>
  </p>
<% end %>

<h2>You have successfully created an Event<br>Your message will be sent to <%= @event.recipient %> to be sent on <%= @event.send_date %>@ <%= @event.send_time %>EST</h2>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_event_path %>
<%= link_to "Delete", event_path, method: :delete, data: { confirm: "Are you sure?" } %>
