<body>
	<div class="container">
		<article id="one">
			<div class="frame">
				<div class="cols">
			<div class="col">
				<div class="contain">
					<div class="front">

					</div>
					<div class="back">
						<div class="inner">
							<h1>Welcome to Heaven Sent!</h1>
							<p>An innovative message app, that lets you send video, audio, and text messages at a future date</p>
						</div>
					</div>
				</div>
			</div>
			</div>
	 </article>


	 <!-- Section 2 -->
	<!-- Section 3 -->
   <div class="two">
		<div class="container wrapper">
		      <div class="row">
		        <div class="col-lg-12 text-center">
		          <h2 class="section-heading text-uppercase">Services</h2>
		          <h3 class="section-subheading text-muted">Send a message in 3 easy steps.</h3>
		        </div>
		      </div>
		      <div class="row text-center">
		        <div class="col-md-4">
		          <span class="fa-stack fa-4x">
		            <i class="fas fa-circle fa-stack-2x text-primary"></i>
		            <i class="fas fa-user-plus fa-stack-1x fa-inverse"></i>
		          </span>
		          <h4 class="service-heading">Step 1</h4>
		          <p class="text-muted">Click the add recipient button and provide the name and contact of your recipient. </p>
		        </div>
		        <div class="col-md-4">
		          <span class="fa-stack fa-4x">
		            <i class="fas fa-circle fa-stack-2x text-primary"></i>
		            <i class="fas fa-paper-plane fa-stack-1x fa-inverse"></i>
		          </span>
		          <h4 class="service-heading">Step 2</h4>
		          <p class="text-muted">Click the event creator and complete the form. You can also add a video, audio, or image file</p>
		        </div>
		        <div class="col-md-4">
		          <span class="fa-stack fa-4x">
		            <i class="fas fa-circle fa-stack-2x text-primary"></i>
		            <i class="fas fa-mouse-pointer fa-stack-1x fa-inverse"></i>
		          </span>
		          <h4 class="service-heading">Step 3</h4>
		          <p class="text-muted">Click the created button and you are done! The message will be send to the number and recipient specified on the date selected</p>
		        </div>
		      </div>
		    </div>
			</div>

			<div class="tag">
				<p>Start by signing up for our state of the art site. The best part is... it's completely Free!</p>
				<div class="button">
					<%=link_to "Sign up", new_user_registration_path, class: "sign" %>
				</div>
			</div>

			<!-- section 5 -->



			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<section class="main-timeline-section">
						    <div class="timeline-start"></div>
						    <div class="conference-center-line"></div>
						    <div class="conference-timeline-content">
									<%= image_tag ("https://static-beyond.herokuapp.com/Priya.jpg"), class: "profile-image img-center" %>
							    <div class="timeline-article content-right-container">
							        <div class="content-date">
						          		<span>20-09-2025</span>
						        	</div>
						        	<div class="meta-date"></div>
							        <div class="content-box">
							        	<p>Hello Mom! I hope you are doing well. I just wanted to wish you a Happy Birthday. Don't forget to take your medication. Love you very much</p>
							        </div>
							    </div>

							    <div class="timeline-article content-left-container">
							        <div class="content-date">
						          		<span>20-09-2026</span>
						        	</div>
						        	<div class="meta-date"></div>
							        <div class="content-box">
							        	<p>Hello Mom! I hope you are doing well. I just wanted to wish you a Happy Birthday. Don't forget to take your medication. Love you very much</p>
							        </div>
							    </div>

							    <div class="timeline-article content-right-container">
							        <div class="content-date">
						          		<span>20-09-2027</span>
						        	</div>
						        	<div class="meta-date"></div>
							        <div class="content-box">
							        	<p>Hello Mom! I hope you are doing well. I just wanted to wish you a Happy Birthday. Don't forget to take your medication. Love you very much</p>
							        </div>
							    </div>

							    <div class="timeline-article content-left-container">
							        <div class="content-date">
						          		<span>20-09-2028</span>
						        	</div>
						        	<div class="meta-date"></div>
							        <div class="content-box">
							        	<p>Hello Mom! I hope you are doing well. I just wanted to wish you a Happy Birthday. Don't forget to take your medication. Love you very much</p>
							        </div>
							    </div>

							</div>
						   	<div class="timeline-end"></div>
					  	</section>
					</div>
				</div>


	<!-- Section 5 -->
	<div class="three">
		<div class="wrapper">
	    <div class="container">
	      <div class="row">
	        <div class="col-lg-12 text-center">
	          <h2 class="grey">Our Amazing Team</h2>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-sm-4">
	          <div class="team-member">
	            <%= image_tag ("https://static-beyond.herokuapp.com/riri.jpg"), class: "profile-image" %>
	            <h4 class="grey">Natalie Dinkins</h4>
	            <p class="text-muted">Lead Developer</p>
							<p>Natalie Dinkins was the youngest astronaut to explore the depths of space. At a young age of 17, she earned her Ph.d in Physics at Oxford University. Natalie is fluent in 29 languages and has a black belt in Karate, Jijutsu, takwando, Muy Thai, and Judo.  When she is not busy breaking new grounds in the world of medical research Natalie can be found teaching Art and Music to at-risk youth in her community. </p>
	            <ul class="list-inline social-buttons">
	              <li class="list-inline-item">
	                <a href="#">
	                  <i class="fab fa-twitter"></i>
	                </a>
	              </li>
	              <li class="list-inline-item">
	                <a href="#">
	                  <i class="fab fa-facebook-f"></i>
	                </a>
	              </li>
	              <li class="list-inline-item">
	                <a href="#">
	                  <i class="fab fa-linkedin-in"></i>
	                </a>
	              </li>
	            </ul>
	          </div>
	        </div>
	        <div class="col-sm-4">
	          <div class="team-member">
	            <%= image_tag ("https://static-beyond.herokuapp.com/warrior.png"), class: "profile-image" %>
	            <h4 class="grey">Jide Delano</h4>
	            <p class="text-muted">Lead Developer</p>
							<p>Jide Delano is a washedup Warrior of Azeroth. He was there at the Gilded Rose when the S17 met to discuss a plan to defeat Deathwing. He was also instrumental in pushing back the burning legion invasion.  Even though Jide is semi-retired, he never fails to make an appearance at the brawlers guild. With the horde threat looming around the corner. You can expect him to be active in the "Battle for Azeroth". </p>
	            <ul class="list-inline social-buttons">
	              <li class="list-inline-item">
	                <a href="#">
	                  <i class="fab fa-twitter"></i>
	                </a>
	              </li>
	              <li class="list-inline-item">
	                <a href="#">
	                  <i class="fab fa-facebook-f"></i>
	                </a>
	              </li>
	              <li class="list-inline-item">
	                <a href="#">
	                  <i class="fab fa-linkedin-in"></i>
	                </a>
	              </li>
	            </ul>
	          </div>
	        </div>
	        <div class="col-sm-4">
	          <div class="team-member">
	            <%= image_tag ("https://static-beyond.herokuapp.com/rambo.jpg"), class: "profile-image" %>
	            <h4 class="grey">Javi Mesa</h4>
	            <p class="text-muted">Lead Developer</p>
							<p>Javi Mesa is retired Marine Corps General. During the war of the forgotten, Javi swallowed a grenade to save his comrads. Luckily the grenade never exploded and Javi survived becoming the first US Marine to recieve 7 Medals of Honor. Javi is now retired, but you can find in the club bragging about how he has a live grenade in his stomach that can go off at anytime. Javi is also a chest master. </p>
	            <ul class="list-inline social-buttons">
	              <li class="list-inline-item">
	                <a href="#">
	                  <i class="fab fa-twitter"></i>
	                </a>
	              </li>
	              <li class="list-inline-item">
	                <a href="#">
	                  <i class="fab fa-facebook-f"></i>
	                </a>
	              </li>
	              <li class="list-inline-item">
	                <a href="#">
	                  <i class="fab fa-linkedin-in"></i>
	                </a>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>
		</div>
	 </div>


	 <!-- Footer  -->
	 <div class="footer">
		 <p>COPYRIGHT © 2019 BTG INC. </p>
	</div>
</body>
