<div class="wrapper">
  <h1>Timeline</h1>
  <div class="main">
    <%= image_tag("txt.png", :alt => "text box", width: "200", height: "200") %>
    <%= image_tag("vid.png", :alt => "camera frame", width: "200", height: "200") %>
    <%= image_tag("img.png", :alt => "glowing picture frame", width: "200", height: "200") %>
    <%= image_tag("txt.png", :alt => "audio player", width: "200", height: "200") %>
    <%= image_tag("vid.png", :alt => "camera frame", width: "200", height: "200") %>
    <%= image_tag("img.png", :alt => "glowing picture frame", width: "200", height: "200") %>
    <%= image_tag("txt.png", :alt => "text box", width: "200", height: "200") %>
    <%= image_tag("vid.png", :alt => "camera frame", width: "200", height: "200") %>
  </div>
  <%= link_to "Back", root_path %>
</div>
