<!DOCTYPE html>
<html>
  <head>
    <title>BeyondTheGrave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('mic.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">

      <%if user_signed_in?%>
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item"><%=link_to image_tag("home.png", tag: "home", width: "30", height: "30"), root_path, class: "nav-link active" %></li>
          <li class="nav-item"><%=link_to image_tag("event.png", tag: "event", width: "30", height: "30"), new_event_path, class: "nav-link" %></li>
        </ul>
        <!-- <h2 class="navbar-brand"><%=link_to "Beyond the Grave", root_path %></h2> -->
        <h3>
          <ul class="nav navbar-nav navbar-right">            
            <li class="nav-item"><%=link_to "Account", edit_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%=link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
            <li class="right"></li>
          </ul>
        </h3>
      <%else%>
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item"><%=link_to image_tag("home.png", tag: "home", width: "30", height: "30"), root_path, class: "nav-link active" %></li>
          <li class="nav-item navbar-brand"><h2><%=link_to "Beyond the Grave", root_path %></h2></li>
        </ul>
        <h3>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><%=link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%=link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
            <li class="right"></li>
          </ul>
        </h3>
      <%end%>
    </div>
    <div class="space">

    </div>
    <%= yield %>
  </body>
</html>
